body
{
  font-family: Monospace, sans-serif;
	font-weight: bold;
	background-color: #eeeeee;
	margin: 0;
	overflow: hidden;
}

#dbscorelb{
  margin-left: 30px;
  font-size: 24pt;
  color: #a3a3a3;
  vertical-align: middle;

}

#dbscorev{
  vertical-align: middle;

  color: #a3a3a3;
  font-size: 30pt;
}


#dblog{
  text-align: center;
  font-size: 50pt;
  /*color: #999333;*/
  margin-top: 180px;
}
#btnstart{
  vertical-align: middle;

  color: white;
  margin-bottom: 20px;
}
#dbtitle
{
    font-size: xx-large;
    text-align: center;
}

#helptext
{
   position: relative;
   top: 20px;
   left: 40px;
}

.btn {
  background: #2a8cff;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
}

.btn:hover {
  background: #409EFF;
}


div.hidden {
    display: none;
}

li {
    display: inline;
}
