body
{
  font-family: Monospace, sans-serif;
	font-weight: bold;
	background-color: #eeeeee;
	margin: 0;
	overflow: hidden;
}


#dblog{
  text-align: center;
  font-size: 50pt;
  color: #3f3f3f;
  margin-top: 180px;
}
#btnstart{
  color: white;
}
#dbtitle
{
    font-size: xx-large;
    text-align: center;
}

#helptext
{
   position: relative;
   top: 20px;
   left: 40px;
}

.btn {
  background: #2a8cff;
  border-radius: 5px;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
}

.btn:hover {
  background: #409EFF;
}


div.hidden {
    display: none;
}

li {
    display: inline;
}
